---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <p>Hello, I'm Thuy Nguyen, a second-year Computer Science student at York University. My passion for the field began three years ago when I 
    discovered the power of programming through online courses on <a href="https://www.coursera.org/">Coursera</a>. I have since obtained certificates in 
    <a href="https://coursera.org/share/4b3dfb6b82dbebbf6cee015fc1f7fb91">Python for Everybody Specialization</a> from the University of 
    Michigan, <a href="https://coursera.org/share/998fd2c6da4f10accfc7c576a779c18e">Algorithmic Toolbox</a> from the University of
    California San Diego, and <a href="https://coursera.org/share/26b9fa64ba2f2d9ab2f008a99193c1b3">Java Programming and Software Engineering Fundamentals</a> from Duke University.
    Currently, I'm diving into the  <a href="https://www.coursera.org/specializations/machine-learning-introduction">Machine Learning Specialization</a> offered by Stanford University and DeepLearning.AI 
    to grasp fundamental AI concepts and enhance my practical machine learning skills.
  </p>
  <p>
    During my studies at York University, I've further developed my skills in mathematics, data structures, database systems, C, and Java.
    I collaborated on a team project to create a web application using HTML, CSS, and JavaScript.
    Until now, I have gained experience in web development technologies such as Flask, REST APIs, and front-end technologies including HTML, CSS, and JavaScript. 
    I've applied my knowledge to various <a href="/projects">personal projects</a>, including data visualization with Dash, 
    game development with Pygame, and app creation with Pyqt5.
  </p>
  <p>
    Currently, I am working as a Programmer Assistant at York University where my first project involved integrating Augmented Reality 
    into York's student handbooks using <a href="https://www.8thwall.com">8th Wall</a>. This initiative enhanced the reading experience,
    with about 50-100 views per month for each handbook. Additionally, I'm building the Course Compass website, a platform to help York 
    students plan their courses effectively. The project encompasses web scraping with Selenium, data parsing with OpenAI's API, and 
    building the website with React, TypeScript, Flask, and SQLAlchemy in Python. I've also contributed in maintaining our websites and 
    updating events posted from various departments at York.
  </p>
  <p>
    My summer goal is to secure a co-op position, allowing me to gain hands-on experience, explore different pathways in the field, 
    further develop my skills, and make valuable contributions to the organization I would work for. I'm enthusiastic about applying 
    my knowledge to real-world challenges and learning from experienced professionals in the industry.
  </p>
</div>

