---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <p>Hello, my name is Thuy Nguyen and I am a first-year Computer Science student at York University. My passion for the field began two years ago when I 
    discovered the power of programming through online courses on <a href="https://www.coursera.org/">Coursera</a>. I have since obtained a certificate in 
    <a href="https://coursera.org/share/4b3dfb6b82dbebbf6cee015fc1f7fb91">Python for Everybody Specialization</a> which is offered by the university of 
    Michigan and includes courses:
    <ul>
      <li><a hrf="https://www.coursera.org/learn/python?specialization=python">Programming for Everybody</a></li>
      <li><a href="https://www.coursera.org/learn/python-data?specialization=python">Python Data Structures</a></li>
      <li><a href="https://www.coursera.org/learn/python-network-data?specialization=python">Using Python to Access Web Data</a></li>
      <li><a href="https://www.coursera.org/learn/python-databases?specialization=python">Using Databases with Python</a></li>
      <li><a href="https://www.coursera.org/learn/python-data-visualization">Capstone: Retrieving, Processing, and Visualizing Data with Python</a></li>
    </ul>
    I also got certificates in <a href="https://coursera.org/share/998fd2c6da4f10accfc7c576a779c18e">Algorithmic Toolbox</a> from the university of
    California San Diego and <a href="https://coursera.org/share/26b9fa64ba2f2d9ab2f008a99193c1b3">Java Programming and Software Engineering Fundamentals</a> from Duke University.
  </p>
  <p>
    I have also gained experience in web development technologies such as Flask, REST APIs, and front-end technologies including HTML, CSS, and JavaScript. 
    I have applied my knowledge to various <a href="/projects">personal projects</a>, including creating games with pygame and building apps with pyqt5.
  </p>
  <p>
    During my first semester at York University, I further developed my skills in mathematics by taking courses in Differential Calculus and Discrete Mathematics, 
    and completed a team project to develop a web application using HTML, CSS, and JavaScript. During my winter break, I learned about data visualization with Pandas 
    and Dash in Python, which I am currently working on developing further. In my second term, I am learning about Linear Algebra, Integral Calculus, and programming in Java. 
    In my spare time, I enjoy working on personal projects and solving problems on <a href="HackerRank.com">HackerRank</a>.
  </p>
  <p>
    My goal for this summer is to secure a co-op position to gain hands-on experience in the field, develop my skills, and make valuable contributions to the organization I 
    would work for. I am excited to apply my knowledge and skills to real-world problems and to learn from experienced professionals in the industry.
  </p>
</div>
